*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;

}

a{ 
    color: rgb(67, 67, 67);
    margin-right: 10px;
}

a:hover{
    color: rgb(175, 175, 175);
    text-decoration: underline;
}

.fas{
    cursor: pointer;
}

.fa-microsoft{
    font-size: 20px;
    color: rgb(146, 146, 146);
    margin-left: 10px;
    cursor: pointer;
}

.fa-microphone-alt{
    font-size: 20px;
    color: rgb(146, 146, 146);
    margin-right: 12px;
}

.fa-search{
    font-size: 20px;
    color: rgb(146, 146, 146);
    margin-left: 12px;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.header .header__container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.header img{
    width: 50px;
    border-radius: 100%;
    margin-left: 15px;
    cursor: pointer;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container img{
    width: 350px;
}


.container .container__input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: white;
    border: 1px solid rgb(213, 213, 213);
}

.container .container__input:hover{
    box-shadow: 0px 0px 2px rgb(133, 133, 133);
}


.container .container__input input{
    border: none;
    width: 500px;
    padding: 12px;
    font-size: 20px;
}

.container .container__input input:focus{
   outline: none;
}

.container .container__buttom{
        
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    
    
}

.container .container__buttom button{
    border: none;
    padding: 12px 35px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: rgb(242, 242, 242);
    cursor: pointer;
    font-size: 16px;
}

.container .container__buttom button:hover{
    box-shadow: 0px 0px 4px rgb(160, 160, 160);
}

.container .info-language{
    margin-top: 30px;
}

.container .info-language p{
    font-size: 14px;
    
}

.container .info-language a{
    color: blue;
}



footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
}

footer .footer__country{
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}

footer .footer__country p{
    color: rgb(67, 67, 67);
    margin-left: 30px;
}


footer .footer__info{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

footer .footer__info .footer__info-btndesc{
    margin-left: 30px;
    
}


footer .footer__info .footer__info-btnpriv{
    margin-right: 30px;

}


